venv/
results/
run_scripts/
preproc_data/
analysis_scripts/
templates/MILES_mid
templates/MILES_small
templates/XSL_stars
templates/SINFONI
templates/sMILES_SSP
templates/sMILES_mid
data/*
!/data/NGC0000.fits
plots/
scripts/preproc_testdata.py
scripts/__pycache__
scripts/lib/__pycache__
scripts/models/__pycache__
update_git.sh
sync_to_doner.sh
.gitignore
excludes

/templates/XSL_Stars.zip
